.container {
  display: flex;
  flex-wrap: wrap;
  height: 500px;
  /* background-color: #272638; */
  border-bottom: 1px solid #f2f2f2;
}

.image_container {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.image {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  border: 1px solid #e5e5e5;
  overflow: hidden;
}

.image > img {
  width: 100%;
  /* object-fit: cover; */
}

.content_container {
  flex-grow: 1;
  /* border:1px solid red; */
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.content {
  margin: auto;
}

.title {
  font-size: 30px;
  font-weight: 650;
  margin-bottom: 15px;
  /* color: white; */
}

.description {
  font-size: 14px;
  color: #51989d;
  margin-bottom: 15px;
}

.content button {
  width: 120px;
  height: 30px;
  outline: none;
  border-radius: 4px;
  font-size: 14px;
  margin-bottom: 15px;
  /* border: 1px solid black;
  background-color: transparent; */
  background-color: #51989d;
  border: 1px solid #51989d;
  color: white;
}

.content button:hover {
  cursor: pointer;
}

.connect > * {
  /* color: white; */
  margin-right: 15px;
}

.connect > *:hover {
  cursor: pointer;
  color: #51989d;
}

@media only screen and (max-width: 630px) {
  .image_container {
    display: none;
  }
  .content {
    width: 300px;
  }
  .title {
    font-size: 25px;
  }
}
