.container {
  display: flex;
  min-width: 300px;
  text-align: center;
  flex-direction: column;
  padding: 30px 0;
  /* border:1px solid red; */
  border-bottom: 1px solid #f2f2f2;
}

.heading {
  text-align: center;
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 25px;
  /* border: 1px solid red; */
}

.aligner {
  max-width: 650px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.aligner > div {
  margin: 10px 10px;
  padding: 25px;
  width: 100px;
  height: 100px;
  border-radius: 20px;
  border: 1px solid #f2f2f2;
  box-shadow: 5px 5px 8px #e6e6e6;
  text-align: center;
}

.aligner > div:hover {
  transform: translateY(5px);
  transition: 300ms;
  box-shadow: 5px 5px 8px #d9d9d9;
}

.aligner > div > img {
  width: 80px;
  height: 80px;
  object-fit: contain;
}

.title {
  font-weight: 300;
}

@media only screen and (max-width: 630px) {
  .heading {
    font-size: 25px;
  }
}
